@model IS_Proj_HIT.ViewModels.OrdersViewModel

@{
    ViewData["Title"] = "Complete an Order";
}

<partial name="PatientBannerPartial" model="Model.Patient"/>
<partial name="_EncounterMenu" model="Model.Encounter"/>

<div class="card" style="border: none;">
    <form method="post">
        @Html.AntiForgeryToken();
        <input type="hidden" asp-for="OrderInfo.OrderInfoId" value="@Model.OrderInfo.OrderInfoId"/>
        <input type="hidden" asp-for="OrderInfo.EncounterId" value="@Model.OrderInfo.EncounterId"/>

        <div class="card-header bg-primary text-white">
            <h4>Complete an Order</h4>
        </div>
        <div class="card-body bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-4 ml-0 pl-0">
                        <label>Level of Care: </label>
                        <span class="font-weight-bold ml-2">@Model.Encounter.EncounterType.Name</span>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <label>Department: </label>
                        <span class="font-weight-bold ml-2">@Model.Encounter.Department.Name</span>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <label>Attending Physician: </label>
                        <span class="font-weight-bold ml-2">@Model.AttendingPhysician?.LastName</span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12 col-lg-4 ml-0 pl-0">
                        <label>Order Date: </label>
                        <span class="font-weight-bold ml-2">@Model.OrderInfo.OrderDate</span>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <label>Order Type: </label>
                        <span class="font-weight-bold ml-2">@Model.OrderInfo.OrderType.OrderName</span>
                    </div>
                    <div class="col-sm-12 col-lg-4">
                        <label>Order Priority: </label>
                        <span class="font-weight-bold ml-2">@Model.OrderInfo.Priority.PriorityName</span>
                    </div>
                </div>
                <hr />

                @if(Model.OrderInfo.OrderTypeId == 2)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row form-group mx-3">
                                <label>Admitting Diagnosis:</label>
                                <span class="col-12 font-weight-bold ml-2">@Model.OrderInfo.AdmittingDiagnosis</span>
                            </div>
                            <div class="row form-group mx-3">
                                <label>Notes:</label>
                                <span class="col-12 font-weight-bold ml-2">@Model.OrderInfo.Notes</span>
                            </div>
                        </div>
                    </div>
                    <hr />   
                }
                else if (Model.OrderInfo.OrderTypeId == 5) 
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row form-group mx-3">
                                <label>Reason for Test:</label>
                                <span class="col-12 font-weight-bold ml-2">@Model.OrderInfo.TestReason</span>
                            </div>
                            <div class="row form-group mx-3">
                                <label>Notes:</label>
                                <span class="col-12 font-weight-bold ml-2">@Model.OrderInfo.Notes</span>
                            </div>
                            @if(Model.OrderInfo.IsFasting ?? false)
                            {
                                <div class="row form-group mx-3">
                                    <label>Fasting Required for</label>
                                    <span class="col-auto font-weight-bold ml-2">@Model.OrderInfo.HoursFasting</span>
                                    <label class="ml-2">Hours</label>
                                </div>
                            }
                            else
                            {
                                <div class="row form-group mx-3">
                                    <label>Fasting Not Required</label>
                                </div>
                            }
                            
                        </div>
                    </div>
                    <hr />
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row form-group mx-3">
                                @if(Model.OrderInfo.OrderTypeId == 6)
                                {
                                    <label>Reason for Exam:</label>
                                }
                                else
                                {
                                    <label>Reason for Service:</label>
                                }
                                <span class="col-12 font-weight-bold ml-2">@Model.OrderInfo.TestReason</span>
                            </div>
                            <div class="row form-group mx-3">
                                <label>Notes:</label>
                                <span class="col-12 font-weight-bold ml-2">@Model.OrderInfo.Notes</span>
                            </div>
                        </div>
                    </div>
                    <hr />
                }

                @if(Model.OrderInfo.IsVerbalOrder)
                {
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Author (verbal order):</label>
                            <span class="font-weight-bold ml-2">@Model.OrderInfo.Author.FirstName @Model.OrderInfo.Author.LastName</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Author Signature (verbal order):</label>
                            <span class="font-weight-bold ml-2">@Model.OrderInfo.AuthorESignature</span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Date Signed (verbal order):</label>
                            <span class="font-weight-bold ml-2">@Model.OrderInfo.AuthorSignedDate</span>
                        </div>
                    </div>
                    <hr />
                }

                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="row mb-3 form-group">
                            <label class="col-sm-4">Ordering Provider:</label>
                            <div class="col-sm-8 justify-content-center">
                                <span class="font-weight-bold ml-2">@Model.OrderInfo.OrderingProvider.FirstName  @Model.OrderInfo.OrderingProvider.LastName</span>
                            </div>
                        </div>
                        <div class="row mb-3 form-group">
                            <label class="col-sm-4">Provider Signature:</label>
                            <div class="col-sm-8 justify-content-center">
                                <span class="font-weight-bold ml-2">@Model.OrderInfo.ProviderESignature</span>
                            </div>
                        </div>
                        <div class="row mb-3 form-group">
                            <label class="col-sm-4">Date signed: </label>
                            <div class="col-sm-8 justify-content-center">
                                <span class="font-weight-bold ml-2">@Model.OrderInfo.ProviderSignedDate</span>
                            </div>
                        </div>
                    </div>

                    @if(Model.OrderInfo.OrderingProvider.ProviderStatusId != 1)
                    {
                        <div class="col-12 col-lg-6">
                            <div class="row mb-3 form-group">
                                <label class="col-sm-4">Co-Signing Provider:</label>
                                <div class="col-sm-8 justify-content-center">
                                    <span class="font-weight-bold ml-2">@Model.OrderInfo.AuthenticatingProvider.FirstName  @Model.OrderInfo.AuthenticatingProvider.LastName</span>
                                </div>
                            </div>
                            <div class="row mb-3 form-group">
                                <label class="col-sm-4">Signature:</label>
                                <div class="col-sm-8 justify-content-center">
                                    <span class="font-weight-bold ml-2">@Model.OrderInfo.AuthenticatingProviderESignature</span>
                                </div>
                            </div>
                            <div class="row mb-3 form-group">
                                <label class="col-sm-4">Date signed: </label>
                                <div class="col-sm-8 justify-content-center">
                                    <span class="font-weight-bold ml-2">@Model.OrderInfo.AuthenticatingProviderSignedDate</span>
                                </div>
                            </div>
                        </div>
                    }
                    
                </div>
                <hr />
                
                @if(Model.OrderInfo.IsOrderComplete)
                { 
                    <div class="row">
                        <div class="col-sm-12 col-lg-4 ml-0 pl-0">
                            <label>Completed By: </label>
                            <span class="font-weight-bold ml-2">@(Model.OrderInfo.CompletedByProvider != null ? Model.OrderInfo.CompletedByProvider.FirstName+" "+Model.OrderInfo.CompletedByProvider.LastName : "No Author")</span>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <label>Completed on: </label>
                            <span class="font-weight-bold ml-2">@Model.OrderInfo.OrderCompletedDateTime</span>
                        </div>
                    </div>
                    <hr />
                }




                <div class="form-row">
                    <div class="col-4">
                        <div class="form-check">
                            <input asp-for="OrderInfo.IsOrderComplete" type="checkbox" class="form-check-input" id="checkedComplete"/>
                            <label asp-for="OrderInfo.IsOrderComplete" class="form-check-label mr-1" id="checkedComplete">Is this order complete?</label>
                        </div>
                    </div>
                </div>
                    <div id="onlyIfChecked" style="display: none;">
                        <div class="form-row">
                            <div class="form-group col-lg-4">
                                <label asp-for="OrderInfo.OrderCompletedDateTime" class="col-form-label mr-1">Order Completed Date: </label>
                                <input type="datetime-local" class="form-control" 
                                        asp-for="OrderInfo.OrderCompletedDateTime"/>
                            </div>
                        
                            <div class="form-group col-lg-4">
                                <label asp-for="OrderInfo.OrderCompletedByID" class="col-form-label mr-1">Select Completing Provider:</label>
                                <select class="form-control" asp-for="OrderInfo.OrderCompletedByID" asp-items="ViewBag.Providers">
                                    <option value="">Select a Provider</option>
                                </select>
                                
                            </div>

                            <div class="form-group col-lg-4">
                                <label class="col-form-label mr-1">Add to Order Notes:</label>
                                <input class="form-control" asp-for="@Model.CompletionNotes"
                                        placeholder="Optional: Add to Order Notes" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group">
                                <input type="submit" value="Submit Completed Order" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                <hr />

                <div class="form-row">
                    <div class="form-group">
                        <a  asp-controller="Order" 
                            asp-action="ListOrders" 
                            asp-route-id="@Model.OrderInfo.EncounterId"
                            class="btn btn-secondary">Return to List</a>
                    </div>
                    @* <div class="form-group">
                        <input type="submit" value="Submit Completed Order" class="ml-3 btn btn-info" />
                    </div> *@
                </div>
            </div>  <!-- close the container -->
        </div>  <!-- close the card body -->

    </form>
</div>  <!-- close the card -->

@section Scripts {
    <script>
        document.getElementById("checkedComplete").addEventListener("change", function(){
            var completionFields = document.getElementById("onlyIfChecked");
            if(this.checked){
                completionFields.style.display = "block";
            } else {
                completionFields.style.display = "none";
            }
        });
    </script>
}