     @* Find viewdata here *@
@{
    ViewData["Title"] = "Patient Search";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2>Patient Lookup</h2>
            </div>
            <div class="card-body bg-light">
                <form method="get" asp-controller="Patient" asp-action="Index">
                    <div class="form-group">
                        @Html.TextBox("searchFirst", null, new { @class = "form-control", @placeholder = "First Name", @id = "searchFirst" })
                        @Html.TextBox("searchLast", null, new { @class = "form-control", @placeholder = "Last Name", @id = "searchLast" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("searchMRN", null, new { @class = "form-control", @placeholder = "MRN", @id = "searchMRN" })
                        @Html.TextBox("searchSSN", null, new { @class = "form-control", @placeholder = "SSN", @id = "searchSSN" })
                    </div>
                    <div class="form-group">
                        @Html.TextBox("searchDOB", null, new { @class = "form-control", @placeholder = "Date of Birth After This", @id = "searchDOB" })
                        @Html.TextBox("searchDOBBefore", null, new { @class = "form-control", @placeholder = "Date of Birth Before This", @id = "searchDOBBefore" })
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-search"></i> Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>