@model List<IS_Proj_HIT.Entities.RequestStatus>

@{
    ViewData["Title"] = "Disclosure Request Statuses";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="DisclosureStructuredData" asp-action="Index">
        <i class="fa fa-arrow-left "></i>
    </a>
    Disclosure Request Release Statuses
</h3>
</div>

<p>
    <a class="btn btn-primary" asp-controller="DisclosureStructuredData" asp-action="CreateRequestStatus">Create New</a>
</p>

<table class="stripe nowrap" id="requestStatusTable">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Request Status
            </th>
            <th>
                Status Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var requestStatus in Model)
        {
            <tr>
                <td>
                    @requestStatus.RequestStatusId
                </td>
                <td>
                    @requestStatus.RequestStatus1
                </td>
                <td>
                    @requestStatus.StatusDescription
                </td>
                <td>
                   
                    <a class="btn btn-primary" asp-controller="DisclosureStructuredData" asp-action="EditRequestStatus" asp-route-id="@requestStatus.RequestStatusId">Edit</a>
                    <a class="btn btn-danger" asp-controller="DisclosureStructuredData" asp-action="DeleteRequestStatus" asp-route-id="@requestStatus.RequestStatusId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        // Creates DataTable
        // DataTable Documentation found here: https://datatables.net/
        $(function () {
            $('#requestStatusTable').DataTable({
                columns: [null, null, null, { orderable: false }],
                order: [[0, 'asc']],
                pageLength: 10,
                searching: true,
                language: {
                    emptyTable: 'No request purposes found'
                }
            });
        });
    </script>
}